.address{
    background-color: gray;
    text-transform: capitalize;
    text-align: right;
}
.address a{
    text-decoration: none;
    color:black;
    margin:10px;
}
.address a:hover{
    color:#FFF;
}
.btn{
    position:absolute;
    right:80px;
}
.dropdown-menu{
    text-transform: capitalize;
    font-size: small;
    overflow: hidden;
}
.dropdown-item:hover{
    background-color: #FF0808;
    color:#FFF;
}
.dropdown-menu:hover .dropdown-item{
    display:block;
}
#search{
   width:250px;
   border-radius: 20px;
}
.navbar ul .nav-link{
    color:#FFF;
    text-transform: uppercase;
    align-items:center;
    justify-content: center;
    margin-left:50px;
}
.nav-link:hover{
    background-color: #FF0808;
    color:#FFF;
}
.btn-shop{
    top: 280px;
    left:600px;
    width: 150px;
    padding:10px;
}
.btn-shop{
    background-color: black;
    color:#FFF;
    text-transform: capitalize;
}
.btn-shop:hover{
    background-color: #FF0808;
}
.product-title{
    text-align: left;
    margin:30px 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color:black;
}
.xem-them{
    text-align: right;
    margin-right: 20px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: medium;
    text-decoration: none;
    color:black;
}
.xem-them:hover{
    color:#FF0808;
}
.card{
    border: none;
}
.card{
    overflow: hidden;
}
.card a img{
    display: block;
}
.card a img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.card-title{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize  ;
}
.card-text{
    font-size: small;
    text-transform: capitalize;
}
.price{
    color:grey;
    font-size: small;
}
.condition{
    width:40%;
    float:left;
}
.condition .menu{
    text-align: left;
}

#footer{
    color:black;
    text-transform: uppercase;
    align-items: center;
    text-decoration:none;
    margin-right:20px;
}
.center{
    width:20%;
}
.center a img{
    align-items: center;
}
.condition .social{
    float:right;
}
.clear { clear: both }
.social a{
    color:black;
    margin-left: 10px;
    text-align: right;
}

.footer{
    height:200px;
    width:100%;
    justify-content: center;
    align-items: center;
}

